<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Level 0 DnD character generator</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="character_sheet">
        <h1>Level 0 DnD character generator</h1>
        <form action="/create" method="POST">
              <p>Your name/alias:</p>
              <textarea id="texte" cols="50" name="player" rows="1">
              </textarea>
              <p>Your character's name:</p>
              <textarea id="texte" cols="50" name="character" rows="1">
              </textarea>
              <div>
                <input type="checkbox" id="name_selector" name="name_selector" unchecked>
                <label for="name_selector">Random name (based on race and gender)</label>
              </div>
              <p>Your character's gender (for naming purposes):</p>
              <div>
                <input type="radio" id="male" name="gender" value="M"
                       checked>
                <label for="M">M</label>

                <input type="radio" id="female" name="gender" value="F">
                <label for="F">F</label>

                <input type="radio" id="random" name="gender" value="R">
                <label for="random">random</label>
              </div>

              <p>Your character race/species (subrace will be random):</p>
              <select name="race" id="pet-select">
                <option value="random HIGH_FANTASY">--Random (High fantasy)--</option>
                <option value="random HUMAN_DOMINATED">--Random (Human dominated)--</option>
                <option value="Human">Human</option>
                <option value="Halfling">Halfling</option>
                <option value="Dwarf">Dwarf</option>
                <option value="Gnome">Gnome</option>
                <option value="Tiefling">Tiefling</option>
                <option value="Goliath">Goliath</option>
                <option value="Elf">Elf</option>
                <option value="Half-Orc">Half-Orc</option>
                <option value="Aarakocra">Aarakocra</option>
                <option value="Dragonborn">Dragonborn</option>
            </select>
              <p>Submit to get your brand new adventurer!</p>
              <p><button type="submit" class="btn btn-primary btn-block btn-large" value="Submit">Submit</button></p>
        </form>

    </div>
</body>
</html>

