<!DOCTYPE html>
<html>
    <head>
        <title>Character sheet</title>
    </head>
    <body>
        <h1><span style="font-size:36px"><strong>{{ character_name }}</strong></span></h1>

        <p><em>Played by: {{ player_name }}</em></p>

        <p><span style="font-size:18px">{{ gender }} {{ race }} {{ occupation }}</span></p>

        <p>HP: {{ HP }}&nbsp; -&nbsp; AC: {{ AC }}&nbsp; -&nbsp; Initiative: {{ Init }}&nbsp; -&nbsp; Speed: {{ Spd }}&nbsp; -&nbsp; Size: {{ size }}</p>

        <p><u>Attributes (modifiers):</u></p>

        <p><ul>
            <li>Strength: {{ STR }} (<strong>{{ mod_STR }}</strong>)</li>
            <li>Dexterity: {{ DEX }} (<strong>{{ mod_DEX }}</strong>)</li>
            <li>Constitution: {{ CON }} (<strong>{{ mod_CON }}</strong>)</li>
            <li>Intelligence: {{ INT }} (<strong>{{ mod_INT }}</strong>)</li>
            <li>Wisdom: {{ WIS }} (<strong>{{ mod_WIS }}</strong>)</li>
            <li>Charisma: {{ CHA }} (<strong>{{ mod_CHA }}</strong>)</li>
        </ul></p>

        <p><u>Proficiency:</u> {{ proficiency }} (<strong>{{ mod_prof }}</strong>)</p>

        <p><u>Attack:</u> {{ weapon }}, <strong>{{ ATK }}</strong>, {{ DMG }}, <em>{{ weapon_attributes }}</em></p>

        <p><u>Racial traits:</u></p>

        <p><ul>
            <li><u>{{ RT1 }}:</u> {{ RTD1 }}</li>
            <li><u>{{ RT2 }}:</u> {{ RTD2 }}</li>
        </ul></p>

        <p><u>Inventory:</u></p>

        <p><ul>
            <li>{{ clothes }} clothes</li>
            <li>{{ weapon }}</li>
            <li>{{ item }}</li>
            <li>{{ trinket }}</li>
            <li>{{ gold }}</li>
        </ul></p>
    </body>

</html>